@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,600;1,600&display=swap');

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/RecklessNeue-Heavy.ttf);
}


html{
    overflow-x: hidden;
    margin:0;
   padding:0;
   overflow-y:overlay;
   
}

body{
    position: relative;
    width:100%;
    padding: 0;
    
    margin:0;
}

p{
    margin-bottom:25px;
}




.navbar{
    position:relative;
    width: 100vw;
    height:80px;
    
    background-color: #fefbf8;
    line-height:80px;
    display: block;
    

}


.navlink{
    color:black;
    vertical-align: middle;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    padding:0;
    margin:0;
    margin-left:20px;
    margin-right:20px;
    font-size:1.1em;
}




.logoimg{
    
    margin:0;
    padding:0;
    
    font-size:0;
    vertical-align: middle;
    
}

.firstlink{
    vertical-align: middle;
    display: inline;
    font-size:0;
    
    padding:0;
    margin:0;
    margin-left: min(4vw, 40px);
    
    
}



.link{
    position: relative;
}
.link:not(.selected):after{
    transition: all .25s;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #c99244;
    height: 1px;
  }
.link:not(.selected):hover:after {
    width: 100%;
  }

.otherlinks{
    left:50%;
    transform:translateX(-50%);
    display: inline-block;
    padding:0;
    margin:0;
    position:absolute;
}


.link:not(.selected):hover{
    color:#c99244;
    transition: all 0.25s;
}



/*For all */
.indent{
    margin-top:0;
    margin-bottom:10px;
    padding-left:15px;
}

.articlebody > p:first-of-type::first-letter{
    float: left;
    font-family: Georgia, serif;
    font-size: 65px;
    line-height: 35px;
    padding: 3px;
    padding-top:10px;
}

.indent{
    margin-top:0;
    margin-bottom:10px;
    padding-left:15px;
}

sup { vertical-align: top; position: relative; top: -0.5em; }


.header{
    top:0;
    position:absolute;
    width:100%;
    display:none;
    height:55px;
    line-height:55px;
    z-index:1;
    opacity: 0.9;
    background: #e0e0e0;
    box-shadow:  0px 20px 40px #bebebe;
}

.fixed {
    position: fixed;
    display: none;
}

.articlebar{
    display: inline;
    position:absolute;
    top:0;
    margin:0;
    padding:0;
    left:50%;
    transform: translateX(-50%);
    line-height:55px;
    font-family: 'Jost', sans-serif;
    font-weight:600;
    font-size:19px;
    color:black;
    text-overflow: ellipsis;
    width:50%;
    white-space: nowrap;
    overflow: hidden;
    
    text-align:center;
}

.italics{
    font-family: 'Jost', sans-serif;
    font-style: italic;
    font-weight: 600;
}

.articlename{
    margin:0;
    margin-bottom:5px;
    padding:0;
    position: relative;
    letter-spacing: 0;
    word-spacing: 0;
    font-family: myFirstFont;
    font-weight:700;
    font-size: 40px;
    padding-bottom:4px;
    display: inline-block;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.author{
    font-weight:lighter;
    font-size:15px;
    color:#9b9b9b;
    font-style: italic;
    font-family: Georgia, serif;
    width:100%;
    display: block;
}

.articleheader{
    
    top:40px;
    display: block;
    width:600px;
    position:relative;
    left:50%;
    transform: translateX(-50%);
}

.firstimgwrapper{
    top:50px;
    width:600px;
    position: relative;
    display:block;
    left:50%;
    
    transform: translateX(-50%);
    
}

.firstimg{
    width:100%;
}

.prefacewrapper{
    display: block;
    width:100%;
    
    
}

.prefacewrappertwo{
    margin:auto;
    width:560px;
    

}

.preface{
    line-height:1.2em;
    font-weight:lighter;
    color:#4b4b4b;
    background-color: #fefbf8;
    padding:10px;
    padding-top:12px;
    padding-bottom:12px;
    border-left: 4px solid #c99244;
    font-family: Georgia, serif;
    
}

.imgcredit{
    font-weight:lighter;
    font-size:13px;
    color:#9b9b9b;
    font-style: italic;
    font-family: Georgia, serif;
    display: block;
}

.hiddenlink{
    font-size:2em;
    text-decoration: none;
    display: inline-block;
    color:black;
    
    font-family: 'Jost', sans-serif;
    margin-top:25px;
    text-align: center;
    margin-bottom:25px;

}

.hiddenlinkwrapper{
    width:150px;
    
    display: block;
    top: calc(50vh - 100px);
    
    position: absolute;
    left:50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    
}

.articlebody{
    z-index:0;
    top: 55px;
    width: 600px;
    position: relative;
    left:50%;
    transform:translateX(-50%);
    font-family: Georgia, serif;
    line-height: calc(1ex / 0.32);
    font-size: 1.1em;
    letter-spacing: 0.02em;
    word-spacing: 0.05em;
}

.bolds{
    font-weight:600;
    
    letter-spacing:0em;
    word-spacing:0em;
}



.iconlinks{
    text-decoration: none;
    color:black;
}

.footer{
    
    width:100%;
    background-color: rgb(255, 255, 255);
    position:relative;
    height:150px;
    top: 35px;
    display: flex;
    align-items: center;
    
    
}


.subscribeicon{
    margin: 0 auto;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    
}



.logoimgheader{
    margin:0;
    padding:0;
    
    font-size:0;
    vertical-align: middle;
}

.logowrapperheader{
    vertical-align: middle;
    display: inline;
    font-size:0;
    
    padding:0;
    margin:0;
    margin-left:20px;
}


.email{
    top:0;
    margin-left:5px;
    margin-right:10px;
}

.person{
    top:0;
    margin-left:10px;
    margin-right:5px;

}

.bottomparts{
    margin-top:70px;
    width:100%;
    border-top: 1px solid rgb(0, 0, 0);
    line-height: calc(0.82ex / 0.32);
    font-size: 0.9em;
    letter-spacing: 0.016em;
    word-spacing: 0.041em;
}


.othersites{
    color: #c99244;
    text-decoration: underline;
}

#hiddennavbar{
    opacity:0;
    display: block;
    z-index:-10;
    height: calc(100vh - 80px);
    width:100vw;
    position: absolute;
    text-align: center;
    top:80px;
    left:0;
    background-color: #fefbf8;
}

.burgerwrapper{
    
    position: relative;
    float:right;
    margin-right: min(5.3vw, 40px);
    height:80px;
    
}

.hamburger{
    display: none;
    vertical-align: middle;
    
}

.hamburger:hover{
    cursor: pointer;
}



.hamburger .line{
    width: 30px;
    height: 2px;
    background-color: #000000;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}




#hamburger-1.is-active .line:nth-child(2){
    opacity: 0;
  }
  
#hamburger-1.is-active .line:nth-child(1){
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    -o-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
  }
  
#hamburger-1.is-active .line:nth-child(3){
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    -o-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
  }

@media screen and (max-width:820px) {
    .otherlinks{
        display: none;
    }

    .htmlnav{
        overflow-y: hidden;
        
    }

    .hamburger{
        display: inline-block;
    }

    

    #hiddennavbar.is-active{
        z-index:10000;
        animation: slideInLeft 0.75s ease both;
        opacity: 1;
        
    }

    #hiddennavbar.is-removed{
        z-index:10000;
        animation: slideOutLeft 0.75s ease both;
        opacity: 1;
    }
}

@media screen and (max-width:650px){
    .articlebody{
        width:400px;
        top:45px;
    }

    .firstimgwrapper{
        width:400px;
        top:40px;
    }

    .articleheader{
        width:400px;
    }
    .prefacewrappertwo{
        width:360px;
        
    
    }
    .articleheader{
        top:30px;
    }
    footer{
        top:25px;
    }
}

@media screen and (max-width:500px){
    .articlename{
        font-size:32px;
    }
}

@media screen and (max-width:450px){
    .articlebody{
        width:350px;
    }

    .firstimgwrapper{
        width:350px;
    }

    .articleheader{
        width:350px;
    }
    .prefacewrappertwo{
        width:310px;
        
    
    }
}



@media screen and (max-width:400px){
    .articlebody{
        width:320px;
    }

    .articlename{
        font-size:25px;
    }

    .firstimgwrapper{
        width:320px;
    }

    .articleheader{
        width:320px;
    }
    .prefacewrappertwo{
        width:290px;
        
    
    }
    .navbar{
        height:60px;
        line-height:60px;
    }
    #hiddennavbar{
        height:calc(100vh - 60px);
        top:60px;
    }
    .firstlink{
        margin-left: min(45px, 6vw);
    }
    .burgerwrapper{
        margin-right: min(45px, 8vw);
    }
}

@media screen and (max-width:350px) {
    .articlebody{
        width:290px;
    }

    .firstimgwrapper{
        width:290px;
    }

    .articleheader{
        width:290px;
    }
    .prefacewrappertwo{
        width:270px;
        
    }

}



@keyframes slideInLeft {
    0% {
      
      transform: translateX(-100vw);
    }

    100% {
      
      transform: translateX(0);
    }
  }

@keyframes slideOutLeft {
    0% {
      
      transform: translateX(0);
    }

    100% {
      z-index:-10;
      transform: translateX(-100vw);
    }
  }

