@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap');

html{
    overflow-x: hidden;
    margin:0;
   padding:0;
}

body{
    position: relative;
    width:100%;
    padding: 0;
    
    margin:0;
}

.logoimg{
    vertical-align: middle;
}

.navbar{
    position:relative;
    width:100%;
    height:80px;
    display: block;
    background-color: #fefbf8;
    line-height:80px;

}

.link{
    color:black;
    vertical-align: middle;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    margin-left:20px;
    margin-right:20px;
    font-size:1.1em;
}

.firstlink{
    margin-left:45px;
}

.otherlinks{
    left:50%;
    transform:translateX(-50%);
    display: inline-block;
    position:absolute;
}

.listcontain{
    width:750px;
    position: relative;
    display: grid;
    grid-template-columns: auto auto;
    
    left:50%;
    top:40px;
    transform:translateX(-50%);
    justify-items:center;
    
    grid-column: 1;
    justify-content: center;
    padding:0;
    margin:0;
}

.innovationarticle{
    width:350px;
    margin:0;
    padding:0;
    
    padding-right:25px;
    padding-bottom:40px;
    
    

}

.randomarticle{

    width:350px;

    margin:0;
    padding:0;
    padding-left:25px;
    
    padding-bottom:40px;
    

}

h1{
    color:black;
    
    margin:0;
    padding:0;
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight:600;
    
}

.postscontain{
    width:750px;
    position: relative;
    text-align: center;
    padding-bottom:10px;
    padding-top:10px;
    
    left:50%;
    transform:translateX(-50%);
    top:20px;
    border-bottom: 1px solid rgb(0, 0, 0);
}


h2{
    color:black;
    text-decoration: none;
    margin:0;
    padding:0;
    margin-top:10px;
    margin-bottom:7px;
    font-family: 'Jost', sans-serif;
    font-size: 20px;
}

h2:hover, .theresmore:hover {
    color: #e7a64c;
}

.articlebody{
    height:200vh;
}

h2, .theresmore {
    transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

.articledescription{
    display: inline;
    margin:0;
    padding:0;
    font-family: Georgia, serif;
    font-size:15px;
    font-weight: lighter;
    line-height: calc(1ex / 0.32);
    
    letter-spacing: 0px;
    word-spacing: 0.5px;
    color:#4e4c4c;
}

.theresmore{
    display: inline-block;
    margin-left:0;
    padding:0;
    margin-left:5px;
    color:#4e4c4c;
    text-decoration: none;
}

a{
    text-decoration: none;
}

.imghovers {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.imghovers:hover {
	opacity: .7;
}
