
.fifthparagraph{
    margin-bottom:20px;
}
.sixthparagraph{
    margin-top:15px;
    margin-bottom:15px;
}

.seventhparagraph{
    margin-top:15px;
    margin-bottom:15px;
}
.eigthparagraph{
    margin-top:15px;
    margin-bottom:15px;
}
.ninthparagraph{
    margin-top:15px;
}


.aipgraph{
    margin-right:25px;
}

.galoisimg{
    margin-left:15px;
    margin-right:5px;
}